{% extends "base.html" %}

    {% block page_title%}
        Lista de clientes
    {% endblock page_title%}
    
    {% block content %}

        <h1 class="bigtext" style="padding:30px;">Lista de clientes</h1>
        <section class="table_component">
            {% if cliente_list %}
                <table class="glass">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in cliente_list %}
                            <tr>
                                <th scope="row">{{ cliente.pk }}</th>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.email }}</td>
                                <td>{{ cliente.telefone }}</td>
                                <td>{{ cliente.endereco }}</td>     
                                <td><a href="update/{{ cliente.pk }}" class="btn bg-dark font text-white" style="height:40px;">Editar</a></td>
                                <td><a href="{% url 'cliente_delete' pk=cliente.pk%}" class="btn bg-dark font text-white" style="height:40px;"> Deletar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            {% endif %}
        </section>
        <a href="{% url 'cliente_create'%}" class="btn bg-dark font text-white" style="orange">Cadastrar novo cliente</a>

{% endblock %}