{% extends "base.html" %}

    {% block page_title%}
        Estoque de materiais
    {% endblock page_title%}
    
    {% block content %}

        <h1 class="bigtext" style="padding:30px;">Estoque de material</h1>
        <section class="table_component">
            {% if estoque_list %}
                <table class="glass">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Materia Prima</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estoque in estoque_list %}
                            <tr>
                                <th scope="row">{{ estoque.pk }}</th>
                                <td>{{ estoque.materia_prima }}</td>
                                <td>{{ estoque.quantidade }}</td>
                                <td><a href="update/{{ estoque.pk }}" class="btn bg-dark font text-white" style="height:40px;">Editar</a></td>
                                <td><a href="{% url 'estoque_delete' pk=estoque.pk%}" class="btn bg-dark font text-white" style="height:40px;"> Deletar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            {% endif %}
        </section>
        <a href="{% url 'estoque_create'%}" class="btn bg-dark font text-white">Cadastrar novo material</a>

{% endblock %}