{% extends 'base.html' %}
{% block page_title %}{% endblock page_title %}
{% block content %}
    
<main>
    <section class="hero-section">
        <div class="hero-content">
            <div class="ball"></div>
            <h1>Easy LOG</h1>
            <p>O gerenciamento fácil do seu negocio</p>
            <a href="#" class="btn bg-dark font text-white">Começar agora</a>
        </div>
    </section>

    <section class="container my-5">
        <h2>Funções disponiveis</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista de clientes</h5>
                        <p class="card-text">Nesta função você pode criar um novo cadastro de cliente, além de gerenciar o mesmo.</p>
                        <a href="{%url 'cliente_list'%}" class="btn bg-dark font text-white">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Estoque de material</h5>
                        <p class="card-text">Nesta função pode gerenciar todo estoque de materiais.</p>
                        <a href="{%url 'estoque_list'%}" class="btn bg-dark font text-white">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Calculadora estatistica</h5>
                        <p class="card-text">Calculos para mensruramento de produções.</p>
                        <a href="#" class="btn bg-dark font text-white">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}