{% extends 'base.html' %}
{% block page_title %}{% endblock page_title %}
{% block content %}
    
<main>
    <section class="hero-section">
        <div class="hero-content">
            <div class="ball"></div>
            <h1>Easy LOG</h1>
            <p>Easy management to your bussiness</p>
            <a href="#" class="btn bg-dark font text-white">START NOW</a>
        </div>
    </section>

    <section class="container my-5">
        <h2>Available functions:</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Client list</h5>
                        <p class="card-text">In this function you can create a new customer record, in addition to managing it.</p>
                        <a href="{%url 'client_list'%}" class="btn bg-dark font text-white">More info.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Raw material stock</h5>
                        <p class="card-text"><br>In this role you can manage all stock of materials.</p>
                        <a href="{%url 'stock_list'%}" class="btn bg-dark font text-white">More info.</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}