{% extends "base.html" %}

    {% block page_title%} Estoque de produtos{% endblock page_title%}
    
    {% block content %}

        <h1 class="bigtext" style="padding:30px;">Estoque de produtos</h1>
        <section class="table_component">
            {% if produto_list %}
                <table class="glass">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produto_list %}
                            <tr>
                                <th scope="row">{{ produto.pk }}</th>
                                <td>{{ produto.nome }}</td>
                                <td>{{ produto.descricao }}</td>
                                <td>{{ produto.preco }}</td>
                                <td>{{ produto.quantidade }}</td>
                                <td><a href="update/{{ produto.pk }}" class="btn bg-dark font text-white" style="height:40px;">Editar</a></td>
                                <td><a href="{% url 'produto_delete' pk=produto.pk%}" class="btn bg-dark font text-white" style="height:40px;"> Deletar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            {% endif %}
        </section>
        <a href="{% url 'produto_create'%}" class="btn bg-dark font text-white">Cadastrar novo produto</a>

{% endblock %}